{% extends 'EmaGroBlogBundle::layout.html.twig' %}

{% block title %}EmaGroBlogBundle:Blog:index{% endblock %}

{% block body %}
    <section>
    {% for post in posts %}
        <article class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    {{ post.getTitre() }}
                </h2>
                <h3 class="post-subtitle">
                    {{ post.getContent }}
                </h3>
            </a>
            <p class="post-meta"> <span>id: {{ post.getId() }}</span> <span>  urlAlias: {{ post.getUrlAlias() }}</span><br><br></p>
        </article>
        <hr>
    {% endfor %}
    </section>
{% endblock %}
